<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="/header :: header">
</head>
<body>
	<div th:replace="/header :: navbar"></div>
	<main class="page product-page">
	<section class="clean-block clean-product dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Chi tiết sản phẩm</h2>
				<p>Chi tiết - Sản phẩm</p>
			</div>
			<div class="block-content">
				<div class="product-info">
					<div class="row">
						<div class="col-md-6">
							<div class="gallery">
								<div class="sp-wrap">
									<img class="img-fluid d-block mx-auto"
										th:src="@{${sanpham.imgURL}}">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="info">
								<h3 th:text="${sanpham.tenSanPham}"></h3>
								<div class="price">
									<h3 th:text="${sanpham.donGia} + VND"></h3>
								</div>
								<button class="btn btn-primary" type="button">
									<i class="icon-basket"></i>Thêm vào giỏ
								</button>
								<div class="summary">
									<p th:text="${sanpham.moTa}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clean-related-items">
					<h3>Sản phẩm tương tự</h3>
					<div class="items">
						<div class="row justify-content-center">
							<div class="col-sm-6 col-lg-4">
								<div class="clean-related-item">
									<div class="image">
										<a href="#"><img class="img-fluid d-block mx-auto"
											th:src="@{resources/assets/img/tech/defaut-bike.png}"></a>
									</div>
									<div class="related-name">
										<a href="#">Lorem Ipsum dolor</a>
										<h4>#Pricce</h4>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-4"></div>
							<div class="col-sm-6 col-lg-4"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</main>
	<div th:replace="/header :: footer"></div>
</body>
</html>