<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<div th:replace="/header :: header"></div>
</head>

<body>
	<div th:replace="/header :: navbar"></div>
	<main class="page login-page">
	<section class="clean-block clean-form dark">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">Đăng Nhập</h2>
				<p>Đây là trang Đăng Nhập&nbsp;</p>
			</div>
			<form th:action="@{/dangky}" th:object="${taikhoan}" method="POST">
				<p th:if="${param.error}" class="error">Invalid email or
					password</p>
				<div class="form-group">
					<label for="username">Tên Đăng nhập</label><input
						class="form-control item" type="text" id="username"
						th:field="*{tenTaiKhoan}">
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label><input class="form-control"
						type="password" id="password" th:field="*{matKhau}">
				</div>
				<button class="btn btn-primary" type="submit">Đăng Ký</button>
				<button class="btn btn-light" type="reset">Nhập lại</button>
			</form>
		</div>
	</section>
	</main>
	<div th:replace="/header :: footer"></div>
</body>

</html>