<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/header :: header">
</head>
<body>
	<nav th:replace="/header :: navbar"></nav>
	<main class="page">
	<section class="clean-block slider">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">EBIKE</h2>
				<p>Thông tin tài khoản</p>
			</div>

			<div class="container">
				<form th:action="@{/update-tk}" th:object="${taikhoanct}" method="post">
					<p><input type="hidden" th:field="*{maTaiKhoan}" th:value="*{maTaiKhoan}" /></p>
					<p>
						Tên tài khoản: <input type="text" th:field="*{tenTaiKhoan}" th:value="*{tenTaiKhoan}" />
					</p>
					<p>
						Họ và Tên: <input type="text" th:field="*{khachHang.hoTenKhachHang}" th:value="*{khachHang.hoTenKhachHang}"  />
					</p>
					<p>
						Địa chỉ: <input type="text" th:field="*{khachHang.diaChi}" th:value="*{khachHang.diaChi}" />
					</p>	
					<p>
						Email: <input type="text" th:field="*{khachHang.email}" th:value="*{khachHang.email}"/>
					</p>
					<p>
						Số điện thoại: <input type="text" th:field="*{khachHang.soDienThoai}" th:value="*{khachHang.soDienThoai}" />
					</p>
					<button type="submit" class="btn btn-primary">Lưu</button>
				</form>
			</div>
		</div>
	</section>
	<div th:replace="/header :: footer"></div>
</body>
</html>